{% load static %}

<html>
<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="login-page">
      <div class="form">
        <form class="register-form">{% csrf_token %}
          <input type="text" placeholder="name"/>
          <input type="password" placeholder="password"/>
          <input type="text" placeholder="email address"/>
          <button>create</button>
          <p class="message">Already registered? <a href="/Auth">Sign In</a></p>
      </form>
      <form class="login-form" action="/auth/" method="post">{% csrf_token %}
          <input type="text" name="username" placeholder="username"/>
          <input type="password" name="password" placeholder="password"/>
          <button>login</button>
          <p class="message">Not registered? <a href="/Auth">Create an account</a></p>
      </form>
  </div>
</div>
</body>

</html>

